
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

.form-signin {
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}

.btn-primary {
 background-color: #fe605a !important;
	border-color: #fe605a !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #dc4943 !important;
	border-color: #dc4943 !important;
}

.grid-sizer {
  float: left;
  width: 160px;
  height: 60px;
 }
 
.bg-row{
	 background-color: #e7e8e7;
	 margin-bottom: 3px;
 }
 
.subscriber{
	margin-bottom: 3px;
}
